a{
    text-decoration:none;
  }
  .floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    z-index: 1000;
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  .contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size:30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
  }
  
  
  .text_icon {
    margin-top: 8px;
    color: #707070;
    font-size: 13px;
  }
 #navbar{
    /* border: 5px solid rebeccapurple; */
    position: fixed !important;
}
.mob_cont{
    display: none;
}
.back-img{
    position: fixed;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.back-img img{
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}
.cafe-detail{
    /* border: 5px solid green; */
    position: relative;
    margin-left: 250px;
    margin-right: 50px;
    padding: 20px 40px;
    width: auto;
    height: 100vh;
    background: url(./Assets/subpage_yellow_bg.png);
   
} 
.ch{
    color: #8e1a1c;
    
}

.d{
       
text-align: center;
}

.main-container {
    background-color: #FFFFED;
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 100px;
    margin-bottom: 150px;
    opacity: 1;

}


  .cafe-img {
    width: 30%;
    display: block;
    height: 200px;
    padding-bottom: 10px;
  }

  
  .cafe-c2{
    font-size: 10px;
    font-weight: 600;
    text-align: justify;
  text-justify: inter-word;
  }
  .cafe-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cafe-div{
      display:flex;
      flex-direction: row;
      height: auto;
      margin-bottom: 50px;
  }
  .p3-l1{
     padding-right: 30px;
    text-align: justify;
    display: block;
    width: 100%;
  }
@media screen and (max-width:650px){
    #navbar{
        display: none;
    }

    .cafe-container{
        display: block;
        
        /* position: fixed; */
        height: auto;
        margin: 0;
        /* flex-direction:column ; */
    }
    .logo-container {
        position: absolute;
        top:0;
        margin-top: 0;
        margin-left: 0;
        background-color: black;
        width: 100%;
        padding:0;
        /* height: auto; */
        opacity: 0.9;
        
    }
    .mobile-detail{
        /* position: absolute; */
         top:520px !important;
    }
   
    .cm {
        position:absolute;
        background-color: black;
        /* margin-left:0; */
        /* margin-left: 50px; */
        right: 0;
        padding: 20px;
        /* align-items: right; */
        /* margin-top: 80%; */
        margin-right: 0;
        border: 0;
    }
    .cafe-detail{
        /* display: flex;
        flex-direction:column; */
        position: absolute;
        display: block;
        /* position:absolute; */
        top:120px;
        padding:20px 10px;
        /* bottom: 0; */
        width: 100%;
        height: auto;
        margin-left: 0;

    }
    .cafe-img{
        height: 200px;
        margin: 0 !important;
        padding: 0;
    }
}
